.contact-page {
    max-width:max-content ;
    margin: 0 auto;
    padding: 20px;
    background-color: Black;
  }
  
  .contact-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: var(--primary-color);
  }
  
  .contact-intro {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
  }
  
  .contact-item {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .contact-item a {
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .contact-item a:hover {
    text-decoration: underline;
  }
  
  .contact-item svg {
    margin-right: 5px; 
  }