 header { 
  margin-bottom: 4rem;
 }
 .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px; 
    margin: 20px auto;
}

.skill {
    width: 45%; 
    margin-bottom: 20px;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.pipeline-container {
    display: flex;
    align-items: center;
    position: relative;
}

.pipeline-shadow {
    height: 10px;
    border-radius: 10px;
    background-color: rgb(58, 57, 57); 
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.pipeline {
    height: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    transition: width 2s ease-in-out; 
}

.percentage {
    margin-left:375px;
    z-index: 2;
    margin-bottom: 15px;
    white-space: nowrap;
}

@media (max-width: 1150px) {
    .skills-container {
      flex-direction: column;
      align-items: center;
      max-width: 75%;
      min-width: auto;
    }
  
    .skill {
      width: 75%;
      margin-bottom: 20px;
    }
  
    .pipeline-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .percentage {
      margin-left: 0;
      margin-top: 0px;
      text-align: right;
      width: 115%;
    }
  }

   